170216_exac_GPCRs.csv filter=lfs diff=lfs merge=lfs -text
Disgenet_disease_ass.csv filter=lfs diff=lfs merge=lfs -text
classB_gprotein_contacts.csv filter=lfs diff=lfs merge=lfs -text
cnv_GPCRs.csv filter=lfs diff=lfs merge=lfs -text
variant_types.csv filter=lfs diff=lfs merge=lfs -text
GPCR37_info.txt filter=lfs diff=lfs merge=lfs -text
NHS_raw.csv filter=lfs diff=lfs merge=lfs -text
GPCR_Missense.txt filter=lfs diff=lfs merge=lfs -text
Genome1K_samplesinfo.tsv filter=lfs diff=lfs merge=lfs -text
drug_data.csv filter=lfs diff=lfs merge=lfs -text
economic_burden.csv filter=lfs diff=lfs merge=lfs -text
EST_ENSG_GENE.csv filter=lfs diff=lfs merge=lfs -text
PTM_gpcrs.csv filter=lfs diff=lfs merge=lfs -text
allelicexp_genes.txt filter=lfs diff=lfs merge=lfs -text
functional_count.csv filter=lfs diff=lfs merge=lfs -text
ENST_Protein.csv filter=lfs diff=lfs merge=lfs -text
TableS2.xlsx filter=lfs diff=lfs merge=lfs -text
VEP_rsIDs.txt filter=lfs diff=lfs merge=lfs -text
dfm_drugs_masterTable.csv filter=lfs diff=lfs merge=lfs -text
170227_1k_GT.csv filter=lfs diff=lfs merge=lfs -text
170320_all_GPCR_residues.csv filter=lfs diff=lfs merge=lfs -text
170420_relative_table.csv filter=lfs diff=lfs merge=lfs -text
ExAC_GPCRs_raw.csv filter=lfs diff=lfs merge=lfs -text
GPCR_lengths.csv filter=lfs diff=lfs merge=lfs -text
denovo_mutations.txt filter=lfs diff=lfs merge=lfs -text
generic_LB_site.csv filter=lfs diff=lfs merge=lfs -text
170201_dbPTM3.txt filter=lfs diff=lfs merge=lfs -text
All_GPCRsites.txt filter=lfs diff=lfs merge=lfs -text
Mutants_orthologs.csv filter=lfs diff=lfs merge=lfs -text
GPCR_drugtargets.txt filter=lfs diff=lfs merge=lfs -text
GPCRdb_mutation_raw.csv filter=lfs diff=lfs merge=lfs -text
arrestin_contacts.csv filter=lfs diff=lfs merge=lfs -text
classA_gprotein_contacts.csv filter=lfs diff=lfs merge=lfs -text
